header {
    position: relative;
}

h1 {
    font-size: 600%;
    font-family: 'Handjet', cursive;
    text-align: center;
}

.logo {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.logo img {
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
}

.logo :hover img{
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

#logoclick img {
    width: 100%;
}

#logoclick {
    display: flex;
    justify-content: center;
    width: 7%;
}


.fundo {
    position: absolute;
    height: 100%;
    width: 100%;
}

.fundo img {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
}

#rosa {
    width: 15%;
    border-radius: 10%;
    border: 2px solid black;
    position: relative;
    margin-left: 42.5%;
    margin-right: auto;
    margin-top: 1%;
}

p {
    position: relative;
    width: 60%;
    text-align: center;
    font-size: 250%;
    font-family: 'Handjet', cursive;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
}

figcaption {
    text-align: center;
}
